$active-color: #06b61edc;
$navlink-color: #2b2b2b;
$navlink-text-color: #7b6dff;

.navbar {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #161616;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  //height: 2rem;
  align-items: center;

  a {
    align-self: center;
    padding: 10px;
    font-size: 1.25em;
    color: $navlink-text-color;
  }
}

.nav-link {
  background-color: $navlink-color;
  border-radius: 15px 15px;
  box-shadow: 1px 6px;
  border: 1px solid $navlink-text-color;
}

.nav-link:hover {
  background-color: #aaaaaaaa;
  color: #000000;
}

a.active {
  color: $active-color;
  font-weight: bold;
  box-shadow: none;
  border: 1px solid $active-color;
}