@use '../../index.scss';

.navbar {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #161616;
  //position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  //height: 2rem;
  align-items: center;

  a {
    align-self: center;
    padding: 10px;
    font-size: 1.25em;
    color: index.$navlink-text-color;
  }
}

.nav-link {
  background-color: index.$navlink-color;
  border-radius: 15px 15px;
  box-shadow: 1px 6px;
  border: 1px solid index.$navlink-text-color;
}

.nav-link:hover {
  background-color: #aaaaaaaa;
  color: #000000;
}

/* moving to global styles because module change stopped it from applying
a.active {
  color: $active-color;
  font-weight: bold;
  box-shadow: none;
  border: 1px solid $active-color;
}
  */