.purchase-controls {
  font-weight: bold;
  font-size: 1.4rem;
}

#purchase-container {
  height: 15%;
  min-height: 100px
}

#cash-drawer, #change-due {
  font-weight: bold;
}

.coins, 
.bills, 
.coin-col-one, 
.coin-col-two, 
.bill-col-one, 
.bill-col-two {
  display: flex;
  flex-wrap: wrap;
}

.coins, .bills {
  flex-direction: row;
}

.coin-col-one, 
.coin-col-two, 
.bill-col-one, 
.bill-col-two {
  flex-direction: column;
}