
.register {
  display: flex;
  flex-direction: column;
  place-items: center;
  border-radius: 5px;
  border: 3px solid black;
  height: 80%;
  width: 80%;
  background-color: #33333344;
  margin: 5px;
  padding: 5px;
}

#price-display {
  font-weight: bold;
  font-size: 1.25rem;
}

.purchase-controls {
  font-weight: bold;
  font-size: 1.4rem;
}

#price-symbol {
  margin: 5px;
}
